.index {
  &-hero {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: $darkgrey;
    background-image: url('../img/artist-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      margin-bottom: 15px;
    }

    p {
      margin: 0;
      font-size: 1.3rem;
      margin-bottom: 90px;
    }

    @media only screen and (max-width: 767px) {
      background-position: 90% bottom;
      background-size: cover;
      background-color: rgba($color: #000000, $alpha: 0.8);
      background-blend-mode: overlay;
    }
  }

  &-features {
    a.button {
      background-color: $darkgrey;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 0;
      margin-bottom: 35px;
      font-size: 17px;
      line-height: 1.3;
      max-width: 500px;
    }

    .row {
      align-items: center;
      padding: 70px 0;
      margin: 0 7%;

      @media only screen and (max-width: 767px) {
        margin: 0;
      }

      img {
        max-width: 300px;

        @media only screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
      }

      .col {
        flex: 3;

        &:first-child {
          flex: 2;
        }
      }

      &:nth-child(even) {
        .col {
          flex: 2;
  
          &:first-child {
            flex: 3;
          }
        }

        @media only screen and (max-width: 767px) {
          .col {
            order: 1;
    
            &:first-child {
              order: 2;
            }
          }
        }
      }
    }
  }
}

.fans {
  .index-hero {
    background-image: url('../img/fans-bg.jpg');

    @media only screen and (max-width: 979px) {
      background-position: 25% center;
    }

    @media only screen and (max-width: 767px) {
      background-color: rgba($color: #000000, $alpha: 0.65);
    }
  }
}
