.spotarchive {
  padding: 70px 0;

  h1 {
    font-size: 2.2em;
    margin-bottom: 50px;

    @media only screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  &__card {
    flex-wrap: wrap;
    margin: 0 -10px;

    & > .col {
      margin: 10px;
      min-width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      box-shadow: 0 5px 14px -2px rgba($b, 0.2);
      border-radius: 5px;
      overflow: hidden;
      
      @media only screen and (max-width: 767px) {
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
      }

      img {
        float: right;
      }

      & > .row {
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 767px) {
          flex-direction: row;
        }

        & > div {
          &:first-child {
            padding: 20px 0 20px 30px;

            h3 {
              margin-bottom: 0;
              font-style: italic;
              font-size: 1.5em;
              line-height: 1.2;
            }

            p {
              margin: 0;
              font-size: 1.1em;
            }

            a {
              display: inline-block;
              margin-top: 30px;
              padding-bottom: 0;
              line-height: 1.3;
              border-bottom: 1px solid;
            }

            @media only screen and (max-width: 767px) {
              padding: 20px 10px 20px 30px;

              h3 {
                font-size: 1.25em;
              }

              p {
                font-size: 1em;
              }

              a {
                margin-top: 15px;
              }
            }

            @media only screen and (max-width: 480px) {
              padding: 20px 10px 20px 20px;

              h3 {
                font-size: 1.1em;
              }

              p, a {
                font-size: 0.9em;
              }

              a {
                margin-top: 10px;
              }
            }
          }

          &:last-child {
            img {
              height: 170px;

              @media only screen and (max-width: 767px) {
                height: 150px;
                min-width: 200px;
              }

              @media only screen and (max-width: 480px) {
                height: 130px;
                min-width: 170px;
              }
            }
          }
        }
      }
    }
  }
}
