mixin footer
  .footer-section.center
    .container
      p Where Art Meets Art Lovers
  footer.center
    .container
      ul.list-unstyled.list-inline
        li
          a(href="#!")
            img(src="../assets/img/facebook.jpg", alt="facebook")
        li
          a(href="#!")
            img(src="../assets/img/twitter.jpg", alt="twitter")