mixin footer
  .footer-section.center
    .container
      p Where Art Meets Art Lovers
  footer.center
    .container
      ul.list-unstyled.list-inline
        li
          a(href="https://www.facebook.com/iShibika/", target="_blank", rel="noopener noreferrer")
            img(src="../assets/img/facebook.jpg", alt="facebook")
        li
          a(href="https://twitter.com/ishibika", target="_blank", rel="noopener noreferrer")
            img(src="../assets/img/twitter.jpg", alt="twitter")