mixin nav
  nav.row
    .col
      a(href="#!")
        img(src="../assets/img/shibika-white.svg", width="90", alt="shibika logo")
    .col.right
      ul.list-unstyled.list-inline
        li
          a(href="#!") Login
        li
          a(href="#!") Join