mixin nav
  nav.row
    .col
      a(href="https://www.shibika.com/")
        img(src="../assets/img/shibika-white.svg", width="90", alt="shibika logo")
    .col.right
      ul.list-unstyled.list-inline
        li
          a(href="https://www.shibika.com/register") Login
        li
          a(href="https://www.shibika.com/register") Join