include ../components/_mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Join as an Artist | Shibika
    
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-89861918-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89861918-3');

    link(rel="icon", type="image/png", href="../assets/img/shibika-icon.png")
    link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
    link(rel="stylesheet", href="../assets/css/style.css")
  body
    +nav
    section.index-hero
      .container
        h1.white Let Your Art
          br
          | Reach The World
        p.white You Have The Passion.
          br
          | You Have The Art.
          br
          | We Get You The Audience.
        a.button(href="#!") Join as an artist
    section.index-features
      .container
        .row
          .col
            img(src="../assets/img/artist-one.jpg", alt="")
          .col
            h2 Create Your Online Presence
            p Why build a website and profiles on multiple social media platforms 
              | when one Shibika profile can achieve both outcomes? With Shibika, 
              | you get a space to tell your story, showcase your work, chronicle 
              | events you have performed in.
            a.button(href="#!") Join as an artist
        .row
          .col
            h2 Expand Your Fan Base Effortlessly
            p Shibika is an express way of building a fanbase. The platform nudges 
              | people who are interested in an artform towards relevant artists. 
              | Once you have followers you can share, interact, promote &amp; sell 
              | your work to them. The platform is all yours to build upon.
            a.button(href="#!") Join as an artist
          .col
            img(src="../assets/img/artist-two.jpg", alt="")
        .row
          .col
            img(src="../assets/img/artist-three.jpg", alt="")
          .col
            h2 Share Your Offerings To Find Work
            p You are not just a performer but also a great teacher. Want to offer 
              | pottery classes? Take guitar lessons? Run acting workshops? Shibika 
              | helps you popularize your offerings &amp; bring more eyeballs. Create 
              | offerings on Shibika and let people reach out to you.
            a.button(href="#!") Join as an artist
        .row
          .col
            h2 Publicize Events
            p Performing at a rock concert? Conducting a workshop on harmonium? About 
              | to host an exhibition of your paintings? Publish an event on Shibika. 
              | Promote the events. Increase attendance.
            a.button(href="#!") Join as an artist
          .col
            img(src="../assets/img/artist-four.jpg", alt="")
    +footer