include ../components/_mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Shalaka Sreeram | Artist Spotlight | Shibika

    meta(rel="description", content="Meet Shalaka, a young inspiring artist who loves to experiment with her art by using  Coca-cola cans, paper clips, bottle caps, shoe polish, vegetables, etc to create it. A record holder in the Golden Book of World Record, she loves to create out of the box art.")
    // Search Engine
    meta(name='description', content='Meet Shalaka, a young inspiring artist who loves to experiment with her art by using  Coca-cola cans, paper clips, bottle caps, shoe polish, vegetables, etc to create it. A record holder in the Golden Book of World Record, she loves to create out of the box art.')
    meta(name='image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Schema.org for Google
    meta(itemprop='name', content='Shalaka Sreeram | Artist Spotlight | Shibika')
    meta(itemprop='description', content='Meet Shalaka, a young inspiring artist who loves to experiment with her art by using  Coca-cola cans, paper clips, bottle caps, shoe polish, vegetables, etc to create it. A record holder in the Golden Book of World Record, she loves to create out of the box art.')
    meta(itemprop='image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Shalaka Sreeram | Artist Spotlight | Shibika')
    meta(name='twitter:description', content='Meet Shalaka, a young inspiring artist who loves to experiment with her art by using  Coca-cola cans, paper clips, bottle caps, shoe polish, vegetables, etc to create it. A record holder in the Golden Book of World Record, she loves to create out of the box art.')
    meta(name='twitter:image:src', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(property='og:title', content='Shalaka Sreeram | Artist Spotlight | Shibika')
    meta(property='og:description', content='Meet Shalaka, a young inspiring artist who loves to experiment with her art by using  Coca-cola cans, paper clips, bottle caps, shoe polish, vegetables, etc to create it. A record holder in the Golden Book of World Record, she loves to create out of the box art.')
    meta(property='og:image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    meta(property='og:url', content='https://www.shibika.com')
    meta(property='og:site_name', content='Shibika')
    meta(property='og:type', content='website')

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-89861918-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89861918-3');

    link(rel="icon", type="image/png", href="../assets/img/shibika-icon.png")
    link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
    link(rel="stylesheet", href="../assets/css/style.css")
  body
    +nav

    main.spot-ss

      section.spot-ss-hero
        .container
          h1(title="Shalaka Sreeram")
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 568.08 324.6", fill="#292929")
              path(d="M41.09 146.19c-7.44 0-13.61-1.55-18.52-4.65-4.9-3.1-8.6-7.44-11.08-13.02-2.48-5.58-4-12.09-4.57-19.53l11.33-3.38c.56 5.64 1.58 10.74 3.04 15.3 1.46 4.57 3.78 8.17 6.93 10.82 3.15 2.65 7.5 3.97 13.02 3.97 6.09 0 10.82-1.58 14.2-4.73 3.38-3.16 5.07-8.17 5.07-15.05 0-5.97-1.5-11.19-4.48-15.64-2.99-4.45-7.08-9.1-12.26-13.95L19.62 63.16c-4.29-4.17-7.44-8.48-9.47-12.94C8.12 45.78 7.1 40.9 7.1 35.6c0-9.47 2.82-16.74 8.45-21.81 5.64-5.07 13.13-7.61 22.49-7.61 4.85 0 9.22.62 13.1 1.86 3.89 1.24 7.21 3.24 9.98 6 2.76 2.76 4.93 6.34 6.51 10.74s2.65 9.75 3.21 16.06l-10.99 2.88c-.45-5.75-1.38-10.68-2.79-14.8-1.41-4.11-3.61-7.24-6.59-9.38-2.99-2.14-7.13-3.21-12.43-3.21-5.64 0-10.26 1.47-13.87 4.4-3.61 2.93-5.41 7.5-5.41 13.7 0 3.72.7 7.1 2.11 10.15 1.41 3.04 3.92 6.31 7.52 9.81l24.2 22.81a87.202 87.202 0 0 1 14.03 16.91c3.94 6.2 5.92 13.19 5.92 20.97 0 6.88-1.33 12.63-3.97 17.25-2.65 4.62-6.34 8.09-11.08 10.4-4.73 2.3-10.2 3.46-16.4 3.46zM89.62 144.5V7.53h13.02v60.71h43.12V7.53h12.85V144.5h-12.85V77.88h-43.12v66.62H89.62zM175.18 144.5L204.1 7.53h13.53l29.08 136.97h-12.68l-6.76-36.69h-32.64l-6.93 36.69h-12.52zm21.31-46h29.08l-14.71-73.9-14.37 73.9zM263.28 144.5V7.53h12.85v127.33h38.89v9.64h-51.74zM320.43 144.5L349.35 7.53h13.53l29.08 136.97h-12.68l-6.76-36.69h-32.64l-6.93 36.69h-12.52zm21.31-46h29.08l-14.71-73.9-14.37 73.9zM408.36 144.5V7.53h13.02V79.9L457.9 7.53h12.34L442 66.38l34.33 78.12h-12.68l-30.1-68.48-12.17 22.32v46.16h-13.02zM481.07 144.5L509.99 7.53h13.53L552.6 144.5h-12.68l-6.76-36.69h-32.64l-6.93 36.69h-12.52zm21.31-46h29.08l-14.71-73.9-14.37 73.9z")
              g
                path(d="M41.09 315.82c-7.44 0-13.61-1.55-18.52-4.65-4.9-3.1-8.6-7.44-11.08-13.02-2.48-5.58-4-12.09-4.57-19.53l11.33-3.38c.56 5.64 1.58 10.74 3.04 15.3 1.46 4.57 3.78 8.17 6.93 10.82 3.15 2.65 7.5 3.97 13.02 3.97 6.09 0 10.82-1.58 14.2-4.73 3.38-3.16 5.07-8.17 5.07-15.05 0-5.97-1.5-11.19-4.48-15.64-2.99-4.45-7.08-9.1-12.26-13.95l-24.18-23.17c-4.29-4.17-7.44-8.48-9.47-12.94-2.03-4.45-3.04-9.33-3.04-14.63 0-9.47 2.82-16.74 8.45-21.81 5.64-5.07 13.13-7.61 22.49-7.61 4.85 0 9.22.62 13.1 1.86 3.89 1.24 7.21 3.24 9.98 6 2.76 2.76 4.93 6.34 6.51 10.74s2.65 9.75 3.21 16.06l-10.99 2.88c-.45-5.75-1.38-10.68-2.79-14.8-1.41-4.11-3.61-7.24-6.59-9.38-2.99-2.14-7.13-3.21-12.43-3.21-5.64 0-10.26 1.47-13.87 4.4-3.61 2.93-5.41 7.5-5.41 13.7 0 3.72.7 7.1 2.11 10.15 1.41 3.04 3.92 6.31 7.52 9.81l24.18 22.83a87.615 87.615 0 0 1 14.04 16.91c3.94 6.2 5.92 13.19 5.92 20.97 0 6.88-1.33 12.63-3.97 17.25-2.65 4.62-6.34 8.09-11.08 10.4-4.7 2.29-10.17 3.45-16.37 3.45zM89.79 314.12V177.16h30.94c8.57 0 15.3 1.38 20.21 4.14 4.9 2.76 8.43 6.76 10.57 12.01 2.14 5.24 3.21 11.47 3.21 18.69 0 5.07-.57 9.87-1.69 14.37-1.13 4.51-3.04 8.34-5.75 11.5s-6.54 5.24-11.5 6.26l20.97 70.01h-12.51l-20.12-67.3h-21.48v67.3H89.79zm12.85-76.76h17.42c5.75 0 10.2-.96 13.36-2.88 3.15-1.92 5.41-4.73 6.76-8.46 1.35-3.72 2.03-8.4 2.03-14.03 0-8.46-1.47-14.77-4.4-18.94-2.93-4.17-8.74-6.26-17.42-6.26h-17.75v50.57zM176.2 314.12V177.16h49.54v9.98h-36.52v51.41h29.76v9.47h-29.76v56.48h36.86v9.64H176.2zM243.5 314.12V177.16h49.54v9.98h-36.52v51.41h29.76v9.47h-29.76v56.48h36.86v9.64H243.5zM310.96 314.12V177.16h30.94c8.57 0 15.3 1.38 20.21 4.14 4.9 2.76 8.43 6.76 10.57 12.01 2.14 5.24 3.21 11.47 3.21 18.69 0 5.07-.57 9.87-1.69 14.37-1.13 4.51-3.04 8.34-5.75 11.5s-6.54 5.24-11.5 6.26l20.97 70.01h-12.51l-20.12-67.3h-21.48v67.3h-12.85zm12.86-76.76h17.42c5.75 0 10.2-.96 13.36-2.88 3.15-1.92 5.41-4.73 6.76-8.46 1.35-3.72 2.03-8.4 2.03-14.03 0-8.46-1.47-14.77-4.4-18.94-2.93-4.17-8.74-6.26-17.42-6.26h-17.75v50.57zM390.1 314.12l28.92-136.97h13.53l29.08 136.97h-12.68l-6.76-36.69h-32.64l-6.93 36.69H390.1zm21.31-45.99h29.08l-14.71-73.9-14.37 73.9zM477.01 314.12l3.38-136.97h12.68l27.22 118.87 27.56-118.87h12.85l3.38 136.97h-10.65l-2.71-109.07-26.21 109.07h-8.29l-25.87-108.9-2.71 108.9h-10.63z")
          p An Experimental Artist

      section.spot-ss-about
        .container
          .row
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-1.jpg", alt="shalaka sreeram about")
            .col
              h2.uppercase About Shalaka
              p Shalaka is one of the most experimental artists we’ve come across on our platform. From creating a “Morning Rooster” with 2508 paperclips to creating a Snowflake rangoli using 847 bottle caps, all of Shalaka’s creations are out of the box. Which is why she also holds a World Record in the Golden Book of World Records for using the maximum number of paper clips to create an artwork. Shalaka’s artistic journey inspires us to stop following the herd. After all, creativity is all about being unique.

      section.spot-ss-conversation
        .container
          h2.center.uppercase In Conversation with Shalaka Sreeram
          .row
            .col
              h3 When and how did your artistic journey start?
              p Hailing from a liberal Maharashtrian family, I have been quite expressive. From an early age, drawing became my preferred medium of expression. Eventually, that developed into an art and later into a profession as a Commercial Artist.
              p Post marriage, I switched gears and explored art beyond commercial purposes. I used it as a channel to express my emotions and a medium to express my story of being a soldier’s wife. From paintings to rangolis that I created, all were an expression of my feelings. And then I realised that I should not limit this expression with a medium.
              p I began experimenting with art by using coffee, turmeric and cosmetics such as lipstick and eyeliner for painting. And that led to “Art Beat”, an art movement of sorts that inspires artists to express their art using unusual media.
              p That was the start of my artistic journey which has evolved every since. Now, I have experimented with items such as shoe polish, vegetable, flower petals, and anything else I could lay my hands upon.
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-2.jpg", alt="shalaka sreeram artistic journey")
          .row
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-3.jpg", alt="shalaka sreeram inspiration")
            .col
              h3 What inspires you to choose this art form?
              p I would say it is the thrill of turning something ordinary into something extraordinary is what inspires me to choose this experimental style. Every time I create something unique, I am filled with immense satisfaction. For instance, I recently created an artwork in the memory of the 2016 Rio Olympics using Coca-Cola cans. Similarly, I was overjoyed when my artwork, ‘The Morning Rooster,’ created using over two thousand five hundred paper clips, was recognized as a world record by the Golden Book of World Records.
              p Of late, I am experimenting hand painting on different fabrics and creating sarees, kurtis and other products out of it. As each product is hand-painted, no two products have the same design, making all of them unique and exquisite.
          .row
            .col
              h3 Share a setback/challenge you faced during the journey.
              p About three years back, I had some ailment in my neck and right hand due to which the muscles there were weakening leaving me in excruciating pain.  After innumerable test and visits to doctors, the only solution I was advised was to quit drawing. I could not do that. Drawing is a part of me and I could not let it go. Determined to hold on to my art, I judiciously followed therapeutic exercises and homoeopathic treatment and came out of the ailment after persisting for one and a half years. I think the key was to not give up on my passion. That kept me going through this phase.
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-4.jpg", alt="shalaka sreeram challenges")
          .row
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-5.jpg", alt="shalaka sreeram role model")
            .col
              h3 Do you have a role model or an artist who you look up to or someone who inspires you?
              p I have admired a lot of artists but the ones who inspire me are Pablo Piccaso, Leonard Da Vinci and Frida Khalo.
          .row
            .col
              h3 When not busy creating your art, what is the one thing you love to do?
              p If I could I would paint the whole day. It’s akin to breathing for me. But I take breaks at regular intervals. During these breaks, I love to read books with a hot cup of coffee.  I also love to spend this time with my lovely daughter. Playing, chatting and going out is always really refreshing for me.
            .col.center
              img(src="../assets/img/shalaka-sreeram/shalaka-sreeram-6.jpg", alt="shalaka sreeram hobbies")

    section.spotlight-cta.center(style="background-color: #292929;")
      .container
        p.white.bold Are you an artist too? Let us help you get your own Artist page.
        a.button(href="https://www.shibika.com/register", target="_blank", rel="noopener noreferrer") Join Shibika

    +footer(true)