<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Certicate of Participation
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap")
    link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
    link(rel="stylesheet", href="../assets/css/style.css")
  body
    .main
      img.border(src="../assets/img/border.png", alt="border")
      .content
        img(src="../assets/img/online-poetry-contest.png", alt="online poetry contest", width="90px")
        h1 CERTIFICATE
        h2.waves Of Participation
        P(style="margin-top: 50px") This is to certify that
        .underline
          p 
        p(style="margin-bottom: 35px") participated in the Online Poetry Competition.
        img(src="../assets/img/shibika-logo.png", alt="shibika logo", width="70px")