include ../components/_mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Shibika Spotlight

    meta(rel="description", content="")
    // Search Engine
    meta(name='description', content='')
    meta(name='image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Schema.org for Google
    meta(itemprop='name', content='Shibika Spotlight')
    meta(itemprop='description', content='')
    meta(itemprop='image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Shibika Spotlight')
    meta(name='twitter:description', content='')
    meta(name='twitter:image:src', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(property='og:title', content='Shibika Spotlight')
    meta(property='og:description', content='')
    meta(property='og:image', content='../assets/img/shalaka-sreeram/meta-shalaka.jpg')
    meta(property='og:url', content='https://www.shibika.com')
    meta(property='og:site_name', content='Shibika')
    meta(property='og:type', content='website')

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-89861918-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89861918-3');

    link(rel="icon", type="image/png", href="../assets/img/shibika-icon.png")
    link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
    link(rel="stylesheet", href="../assets/css/style.css")
  body
    +nav

    main.spotarchive
      .container
        h1.center
          small Our Featured Spotlights
        .row.spotarchive__card
          .col
            .row
              div
                h3 Saurabh Turakhia
                p Portrait Artist and Writer
                a(href="#!") Read More
              div
                img(src="../assets/img/saurabh-turakhia-thumb.jpg", alt="saurabh turakhia")
          .col
            .row
              div
                h3 Subhrojyoti
                p Singer, Lyricist and Producer
                a(href="#!") Read More
              div
                img(src="../assets/img/subhrojyoti-thumb.jpg", alt="subhrojyoti")
          .col
            .row
              div
                h3 Amita Godbole
                p Bharatanatyam Dancer and Teacher
                a(href="#!") Read More
              div
                img(src="../assets/img/amita-godbole-thumb.jpg", alt="amita godbole")
          .col
            .row
              div
                h3 Shalaka Sreeram
                p An Experimental Artist
                a(href="#!") Read More
              div
                img(src="../assets/img/shalaka-sreeram-thumb.jpg", alt="shalaka sreeram")
          .col
            .row
              div
                h3 Saurabh Turakhia
                p Portrait Artist and Writer
                a(href="#!") Read More
              div
                img(src="../assets/img/saurabh-turakhia-thumb.jpg", alt="saurabh turakhia")
          .col
            .row
              div
                h3 Subhrojyoti
                p Singer, Lyricist and Producer
                a(href="#!") Read More
              div
                img(src="../assets/img/subhrojyoti-thumb.jpg", alt="subhrojyoti")
          .col
            .row
              div
                h3 Amita Godbole
                p Bharatanatyam Dancer and Teacher
                a(href="#!") Read More
              div
                img(src="../assets/img/amita-godbole-thumb.jpg", alt="amita godbole")
          .col
            .row
              div
                h3 Shalaka Sreeram
                p An Experimental Artist
                a(href="#!") Read More
              div
                img(src="../assets/img/shalaka-sreeram-thumb.jpg", alt="shalaka sreeram")

    +footer(true)
